:local {
  .tabwrap {
  }
  .tablist {
    padding-left: 0;
    li {
      display: inline-block;
      margin-left: 15px;
      font-weight: 900;
      font-size: 20px;
      font-family: KarbonRegular;
      cursor: pointer;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  .manual {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .tabactive {
    color: lighten(#940d21, 10%);
    border-bottom: 1px solid lighten(#940d21, 10%);
  }
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 40px;
  }

  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 40px;
    margin-bottom: 80px;
  }

  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 80px;
  }

  .subheading {
    font-size: 16px;
    font-weight: bold;
  }

  .button {
    flex: 1;
    padding: 15px 40px;
    border: none;
    font-size: 14px;
    background: #680b22;
    cursor: pointer;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover {
      background: lighten(#680b22, 10%);
    }
  }

  .buttonsRow {
    display: flex;
  }

  .upgradeButton {
    flex: 1;
    padding: 3px 10px;
    color: #680b22;
    border: none;
    font-size: 10px;
    background: #680b22;
    cursor: pointer;
    color: #ffffff;
    &:hover {
      background: lighten(#680b22, 10%);
    }
    &.reinstall {
      background: rgb(238, 155, 2);
    }
  }

  .input {
    height: 0;
    overflow: hidden;
    padding-top: 15px;
    input {
      border: none;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px 10px;
      &:active,
      &:focus {
        outline: 0;
      }
    }
    &.active {
      height: auto;
    }
  }

  .upgradeAll {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
    border-top: 1px solid #B0B0B0;

    .minerCounts {
      .totalCount {
        font-size: 18px;
        font-family: KarbonRegular;
      }

      .typeCounts {
        font-size: 16px;
      }
    }
  }

  .upgradeAllButton {
    padding: 10px 30px;
    border: none;
    font-size: 14px;
    background: #940d21;
    cursor: pointer;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    &:hover {
      background: lighten(#940d21, 10%);
    }
  }

  .button2 {
    flex: 1;
    padding: 15px 40px;
    border: none;
    font-size: 14px;
    background: #940d21;
    cursor: pointer;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    &:hover {
      background: lighten(#940d21, 10%);
    }
  }

  .terminal {
    display: flex;
    flex-direction: column;
    flex: 1;
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .terminalbox {
      flex: 1;
      overflow-y: scroll;
      background: #232c39;
      margin-top: 10px;
      padding: 10px;
    }
  }

  .resultsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
  }

  .container h2 {
    color: #b50e24;
    font-size: 3rem;
  }

  .container a {
    font-size: 1.4rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .tableHeader {
    padding-top: 20px;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    background: #f5f5f5;
    border-bottom: 1px solid #B0B0B0;
    th {
      padding-bottom: 10px;
      font-weight: bold;
    }
  }

  .table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    td {
      padding-top: 10px;
      font-size: 18px;

      a {
        color: black;
        font-size: 18px;
      }
    }
  }

  .loading {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
